attrs
backcall
bleach
certifi
cycler
decorator
defusedxml
entrypoints
future
imageio
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
mkl-fft
mkl-random
nbconvert
nbformat
notebook
numpy
olefile
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
scipy
Send2Trash
six
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension